APP_ENV=local
APP_NAME="Cloud Storage"

DB_NAME=cloud_storage
DB_USERNAME=
DB_PASSWORD=

GOOSE_DRIVER=postgres
GOOSE_DBSTRING=host=localhost port=5432 user=${DB_USERNAME} password=${DB_PASSWORD} dbname=cloud_storage sslmode=disable
GOOSE_MIGRATION_DIR=internal/core/database/migrations

REDIS_PASSWORD=

MINIO_USER=
MINIO_PASSWORD=
